@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    user-select: none;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: url("bg.jpg") center / cover no-repeat;
}

.page_wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    background: linear-gradient(0deg, #0D0D0D90, transparent);
}

.scan_wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.code {
    width: 300px;
    height: auto;
    box-shadow: 0 0 15px black;
    border-radius: 30px;
}

.open_link {
    border-style: solid;
    border-radius: 30px;
    border-width: 0;
    background-color: #506ECD;
    box-shadow: 0 0 15px black;
    color: white;
    font-weight: 700;
    font-size: 16px;
    width: 100%;
    height: 50px;
}

.open_link:hover {
    cursor: pointer;
    background-color: #5e80f0;
}

.scan_text {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 600;
    text-align: center;
    width: 100%;
}