:root {
    --background-dark: #0D0D0D;
    --background-changelog: #1E2027;
    --font-color: #2B333D;
    --tooltip: #F2EEFF;
    --block-title-font: #48535D;

    --main-blur: 30px;
    --main-brightness: 0.5;
}