:root {
    --background-dark: #0D0D0D;
    --background-changelog: #1E2027;
    --font-color: #2B333D;
    --tooltip: #292C36;
    --block-title-font: #48535D;
    --first-gradient-color: #803DB7;
    --second-gradient-color: #A45CA4;

    --main-blur: 30px;
    --main-brightness: 0.5;
}