.dev-mode {
    .indev {
        display: block;
    }

    .dev-menu {
        display: block;
    }
}

.indev {
    user-select: text;
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 15px;
    color: #fff;
    z-index: 999999999;
    text-align: right;
    padding: 10px;
    font-family: monospace;
    white-space: pre-line;
    transition: ease 0.2s;
}

.indev:hover {
    background-color: #0D0D0D90;
    backdrop-filter: blur(var(--main-blur));
    transition: ease 0.2s;
}

.dev-menu {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--topbar-background-color);
    backdrop-filter: blur(var(--main-blur));
    border-radius: 5px;
    padding: 10px;
    z-index: 999;
    font-family: sans-serif;
    width: 140px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.dev-menu .title {
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--font-color);
}

.dev-menu button {
    width: 100%;
    border: none;
    background: transparent;
    color: var(--font-color);
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.dev-menu button:hover {
    background: var(--topbar-background-color);
}