.loading_wrapper {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
}

.loading_thumbnail {
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.loading_gif {
    position: fixed;
    width: 150px;
    height: 150px;
    right: 20px;
    bottom: 20px;
}