@media only screen and (max-width: 768px) and (pointer: coarse) {

    html,
    body {
        margin: 0;
        padding: 0;
        height: 100svh;
        overflow: hidden;
        font-family: 'Noto Sans', sans-serif;
        background-color: var(--main-background);
        box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    .main_wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
    }

    .main_container {
        background-color: transparent;
        padding: 10px;
        height: 100%;
        width: 100%;
        text-align: center;
        border-radius: 0;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        backdrop-filter: blur(var(--main-blur));
    }

    .dev_change {
        flex-direction: column;
    }

    .main_title,
    .links_main_title {
        display: none;
    }

    .topbar_links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: 100%;
        text-align: center;
    }

    .topbar_links button {
        width: 100%;
    }

    .track-card {
        width: 100%;
        height: 90px;
        background-color: #2B353B;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 17px;
        box-shadow: 0 3px 10px #000;
        z-index: 10;
    }

    .track-cover {
        height: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0 3px 10px #16181E;
    }

    .track-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        flex: 1;
        gap: 5px;
    }

    .track-title,
    .track-artist {
        display: none;
    }

    .changelog {
        justify-content: center;
        height: calc(100svh - 333px);
        overflow-y: auto;
    }
}