.toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    z-index: 400;
}

.toast {
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--topbar-background-color);
    backdrop-filter: blur(var(--main-blur));
    color: var(--font-color);
    padding: 12px 16px;
    border-radius: 8px;
    min-width: 250px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translate(100%);
    transition:
        transform 0.3s ease,
        opacity 0.3s ease;
    background-image: url("https://diram1x.ru/src/assets/toast/snow_decor.png");
    background-repeat: no-repeat;
    background-position: right center;
}

.toast.show {
    opacity: 1;
    transform: translate(0, 0);
}

.toast.hide {
    opacity: 0;
    transform: translate(100%, 0);
}

.toast img {
    width: 45px;
    height: 45px;
}

.toast_content {
    display: flex;
    flex-direction: column;
}

.toast_title {
    font-weight: bold;
}

.toast_link {
    cursor: pointer;
    text-decoration: none;
    outline: var(--font-color) solid 3px;
}

.toast_link:hover {
    background-color: var(--toast-background-color-hovered);
}
