:root {
    --main-blur: 30px;
    --main-brightness: 0.5;
    --topbar-height: 48px;
}

.dark-theme {
    --topbar-background-color: #0D0D0D90;
    --topbar-button-color: #fff2;
    --topbar-button-color-hovered: #3b424d;
    --background-dark: #0D0D0D;
    --background-profile-content: #1E2027;
    --font-color: #D2CFE7;
    --block-title-font: #48535D;
    --wrapper-color: rgba(0, 0, 0, 0.6);
    --simple-block-background-color: #fff1;
    --simple-block-background-color-mobile: #0006;
    --dev-description-text-color: #D5D1E7;
    --upm-background-color: #000000;
    --upm-button-color-hovered: #fff1;
    --expand-button-hover: #212121;
    --scroll-background-color: #615762;
    --scroll-background-color-hovered: #998a9b;
    --favorite-track-invert-filter: 100%;
    --favorite-track-shadow-color: #E9E7E1;
    --favorite-track-text-artist-color: #fff8;
    --separator-color: #fff2;
    --role-background-color: #fff1;
    --dimmer-control: #0005;
    --favorite-track-chromium-invert-filter: 100%;
    --favorite-track-gecko-invert-filter: 0%;
    --favorite-track-chromium-background: #F1F3F4;
    --favorite-track-gecko-background: #1A1A1A;
    --toast-background-color-hovered: #30303090;
    --you-bar-color: #00071b;
    --you-modal-bg-color: #000000;
    --you-modal-block-color: #141318;
    --swipe-bar-color: #141414;
}

.light-theme {
    --topbar-background-color: #E5DEF890;
    --topbar-button-color: #0002;
    --topbar-button-color-hovered: #c9c1df;
    --background-dark: #0D0D0D;
    --background-profile-content: #1E2027;
    --font-color: #2B333D;
    --block-title-font: #48535D;
    --wrapper-color: rgba(255, 255, 255, 0.6);
    --simple-block-background-color: #fff5;
    --simple-block-background-color-mobile: #fff8;
    --dev-description-text-color: #5F606A;
    --upm-background-color: #FFFFFF;
    --upm-button-color-hovered: #0001;
    --expand-button-hover: #DEDEDE;
    --scroll-background-color: #A391A1;
    --scroll-background-color-hovered: #685c66;
    --favorite-track-shadow-color: #16181E;
    --favorite-track-text-artist-color: #0008;
    --separator-color: #0002;
    --role-background-color: #0001;
    --dimmer-control: #0000;
    --favorite-track-chromium-invert-filter: 0%;
    --favorite-track-gecko-invert-filter: 100%;
    --favorite-track-chromium-background: #F1F3F4;
    --favorite-track-gecko-background: #1C1C1C;
    --toast-background-color-hovered: #dbceff90;
    --you-bar-color: #ecf1ff;
    --you-modal-bg-color: #F2F3F5;
    --you-modal-block-color: #FFFFFF;
    --swipe-bar-color: #D8D9DB;
}